*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body {
    font-size: 1rem;
    background: #322f28;
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

.main {
    width: calc(100% - 23.4375rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
}

.levels {
    background: #26221c;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 23.4375rem;
    top: 0;
    right: 0;   
    bottom: 0;   
}

.menu,
.animation {
    display: flex;
    justify-content: center;
    padding: 1.875rem;
}

.menu-list li {
    padding: 0.625rem;
    cursor: pointer;
    border-radius: 0.1875rem;
    background: #dfdfdfde;
    font-size: large;
    margin-top: 0.625rem;
}

.menu-list li:hover {
    background: #e6e6e6;
}

ol {
    width: 18.75rem;
    list-style: none;
}

.succes {
    background: #8BC34A !important;
}

.active {
    background: #FFEB3B !important;
}

.reset, .hint {
    margin-left: 2.5rem;
    width: 18.75rem;
    cursor: pointer;
    border: none;
    border-radius: 0.1875rem;
    transition: 1s;
    background: #dfdfdfde;
    font-size: large;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
}

.reset:hover {
    background: #ee3636;
}

.hint:hover {
    background: #FFEB3B;
}

.info {
    color: #c6c6c5;
    padding: 0rem 1.875rem 1.875rem 2.5rem;
}

a {
    text-decoration: none;
    color: #8BC34A;
    font-weight: bolder;
    transition: 1s;
}

a:hover {
    color: #FFEB3B;
}

.author-block {
    padding: 1.25rem;
    color: #c6c6c5;
    letter-spacing: 0.3125rem;
}

.code-block {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10%);
    height: 23rem;
    color: #8BC34A;
    background: #26221c;
    border: 0.1875rem solid #26221c;
    padding: 1.25rem;
    margin: 0rem 1.875rem 1.875rem 1.875rem;
}

.code-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
    color: #e6e6e6;
    font-size: larger;
    border-bottom: 0.0625rem solid #c6c6c5;
}

.code-block-code {
    display: flex;
    padding-top: 0.625rem;
}

.code-block-code__numbers {
    padding-right: 0.625rem;
    color: #e6e6e6;
    font-size: larger;
}

.code-block__input {
    height: 3.125rem;
    padding: 0rem;
    border: 0.1875rem solid #000000;
    background: #e6e6e6;
}

.input-code {
    padding: 0rem;
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    padding: 0rem 1.25rem;
}

input {
    height: 2.5rem;
    border: none;
    background: #e6e6e6;
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    width: 86%;

}

input:focus {
    outline: none;
    border-color: #e6e6e6;
}

.input-flash {
    background: rgba(252, 255, 62, 0.342);
    animation-name: flash;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    50% {
        background: #e6e6e6;
    }
}

.click-selector {
    background: #c6c6c500;
    border-radius: 0.125rem;
    padding: 0.3125rem;
    color: #26221c;
    border: solid 0.125rem #999;
    cursor: pointer;
    border-radius: 0.1875rem;
    transition: 1s;
}

.click-selector:hover {
    background: #FFEB3B;
}

.table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 30%);
    height: 15.625rem;
    background-image: url("https://png.pngtree.com/58pic/32/47/08/84J58PICdb53a5bA154Cd_PIC2018.jpg");
    background-size: cover;
    border-radius: 0.3125rem;
    transform: rotateX(140deg) rotateZ(0deg) skew(1deg);
    box-shadow: 0.125rem 0.1875rem 0.625rem 0.1875rem grey;
    transform: revert;
    margin: 3.125rem 0rem;
}

.animation {
    padding: 0rem;
}

section {
    display: flex;
    justify-content: center;
}

img {
    margin-bottom: 1.875rem;
}

.animation-rotate {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// стили для фруктов взяты с codepen.io
.apple {
    position: relative;
    width: 6em;
    height: 4.75em;
    background-color: #5BC236;
    border-radius: 2em 2em 3em 3em;
    box-shadow: inset -.25em -.25em #438F28;
}

.apple:before {
    content: '';
    position: absolute;
    top: -.5em;
    left: 1.5em;
    width: 4.5em;
    height: 2.75em;
    border-radius: 3em 3em 0 0;
    background-color: inherit;
    box-shadow: -1.5em 0 0 #5BC236, inset -.3em 0 #438F28;
}

.apple:after {
    content: '';
    position: absolute;
    top: -1em;
    left: 3em;
    height: 1.25em;
    width: 1em;
    background-color: transparent;
    border-radius: 50% 0;
    box-shadow: -.25em 0 0 brown;
}

.orange {
    position: relative;
    width: 6em;
    height: 6em;
    background-color: orange;
    border-radius: 50%;
    box-shadow: inset -.25em -.25em #CC8400;
}

.orange:before {
    content: '';
    position: absolute;
    top: -.5em;
    left: 3em;
    height: 0;
    width: 0;
    border: 1.5em solid transparent;
    border-left: .5em solid brown;
    border-top: 0;
    transform: rotate(20deg);
    transform-origin: bottom left;
}

.orange:after {
    content: '';
    position: absolute;
    top: -.5em;
    left: 1.5em;
    height: 0;
    width: 0;
    border: .75em solid green;
    border-bottom-color: darkgreen;
    border-left-color: darkgreen;
    border-radius: 0 50%;
}

.lemon {
    position: relative;
    width: 6em;
    height: 6em;
    background-color: #FFE135;
    border-radius: 50% 15%;
    transform: rotate(45deg);
    box-shadow: inset -.25em 0em #CCB42A;
}

.pear {
    position: relative;
    width: 6em;
    height: 6em;
    background-color: #D1E231;
    border-radius: 50% 15% 50% 50%;
    transform: rotate(-45deg);
    box-shadow: inset .15em -.25em #8A9A5B;
}

.pear:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 5.75em;
    height: 1.25em;
    width: 1em;
    background-color: transparent;
    border-radius: 50% 0;
    box-shadow: -.25em 0 0 brown;
    transform: rotate(45deg);
}

.blueberry {
    position: relative;
    width: 6em;
    height: 5.5em;
    top: 0.6em;
    left: 0.4em;
    border-radius: 50%;
    background-color: #89a2ca;
    box-shadow: inset 0.2em -.2em #6081B8;
    transform: scale(-1, 1);
}

.blueberry:before {
    content: "";
    width: 2em;
    height: 1em;
    left: 2em;
    position: absolute;
    background-color: #3e4d64;
    border-radius: 50%;
}

// пример тени для тарелки был найден на codepen.io

.plate {
    background: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 10em;
    height: 10em;
	border-radius: 100%;
    box-shadow: inset 0 0 0 0.0625rem #e6e5e5, 0 0.375rem 0 0 #cdcccc;
}

.plate:after {
	background: #fffefe;
	border-radius: 100%;
	box-shadow: inset 0 0 0 0.0625rem #f0efef, inset -0.125rem 0 0 0 #cdcccc, inset -0.125rem 0.1875rem 0 0 #cdcccc, inset 0 0.1875rem 0 0 #cdcccc;
}

.code-block-left {
    padding-left: 1.25rem;
    text-align: initial;
}

.action {
    padding-left: 1.25rem;
    color: #FFE135;
}

.action-friuts {
    box-shadow: 0rem 0rem 0.625rem 0.6875rem rgba(255, 251, 254, 0.54);
}

.code-block-numbers {
    display: block;
    text-align: initial;
    font-size: initial;
}

.hidden-fruits {
    opacity: 0;
    transition: all 2s linear;
}

.shaking { 
    animation: 0.1s shake ease-out;  
    animation-iteration-count: 3;  
}
@keyframes shake {
    0%, 25% {
        left: -0.0625rem;
        top:-0.0625rem;
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 0.0625rem;
        top: 0.0625rem;
        transform: translateX(2%);
    }
}

.final {
    color: #8BC34A;
    animation: puls 1.5s linear infinite;
    font-size: x-large;
  }

@keyframes puls {
    50% {  
        text-shadow: 0 0 0.625rem #fff; 
    }
}
   