*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 16px;
    background: #2e2a23;
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
}

.main {
    width: calc(100% - 375px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.levels {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 375px;
    right: 0;
    top: 40px;
    top: 0;
    bottom: 0;
    background: #221e18;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.menu-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    background: #dfdfdfde;
    font-size: large;
    margin-top: 10px;
}

.menu-list li:hover {
    background: #e6e6e6;
}

ol {
    width: 300px;
    list-style: none;
}

.succes {
    background: #8BC34A;
}

.active {
    background: #FFEB3B;
}

.reset {
    margin-left: 40px;
    width: 300px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: 1s;
    background: #dfdfdfde;
    font-size: large;
    padding: 10px;  
}

.reset:hover {
    background: #ee3636;
}

.info {
    color: #c6c6c5;
    padding: 0px 30px 30px 40px;
}

a {
    text-decoration: none;
    color: #8BC34A;
    font-weight: bolder;
    transition: 1s;
}

a:hover {
    color: #FFEB3B; 
}

.author-block {
    padding: 20px;
    color: #c6c6c5;
    letter-spacing: 5px;
}

.code-block {
    display: flex;
    flex-direction: column;
    height: 450px;
    color: #8BC34A;
    background: #221e18;
    border: 3px solid #221e18;
    padding: 20px;
    margin: 30px;
}

.code-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    color: #e6e6e6;
    font-size: larger;
    border-bottom: 1px solid #c6c6c5;
}

.code-block-code {
    display: flex;
    padding-top: 10px;
}

.code-block-code__numbers {
    padding-right: 10px;
    color: #e6e6e6;
    font-size: larger;
}

.code-block__input {
    height: 50px;
    padding: 0px;
    border: 3px solid #000000;
    background: #e6e6e6;
}

.input-code {
    padding: 0px;
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
    padding: 0px 20px;
}

input {
    height: 40px;
    border: none;
    background: #e6e6e6;
    font-family: "Comfortaa", "Helvetica Neue", sans-serif;
    font-size: 16px;
    width: 86%;
    
}

input:focus {
    outline: none;
    border-color: #e6e6e6;
}

.input-flash {
    background: rgba(62, 255, 126, 0.199);
    animation-name: flash;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    50% {
        background: #e6e6e6;
    }
  }

.click-selector {
    background: #c6c6c500;
    border-radius: 2px;
    padding: 5px;
    color: #221e18;
    border: solid 2px #999;
    cursor: pointer;
    border-radius: 3px;
    transition: 1s;
}

.click-selector:hover {
    background: #FFEB3B;
}

